<!DOCTYPE html>
<html>
  <head>
    <title>OpenTetraMaster</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'http://localhost:8080/vendor-bundle.js' %>
    <%= javascript_include_tag 'http://localhost:8080/app-bundle.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
